@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./code.css";
@import "./fonts.css";

html {
  font-feature-settings: "ss01", "cv10", "cv11";
}

html,
body,
#__next {
  min-height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

#__next > main {
  flex-grow: 1;
}

nav > a:not(:hover) {
  text-decoration: none;
}

a {
  text-decoration-skip-ink: auto;
}

.skip-link {
  border-radius: 8px;
  position: absolute;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
