@import "~normalize.css/normalize.css";
@import "./typography.css";
@import "./code.css";

:root {
  --font-family-mono: 'JetBrains Mono', monospace;
  --font-family-serif: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #fff;
  --color-text: #1F2937;
  --p-1: 1rem;
  --p-2: 2rem;
  --mb: 1.5rem;

  --color-text-gray-100: #F3F4F6;
  --color-text-gray-200: #E5E7EB;
  --color-text-gray-300: #D1D5DB;
  --color-text-gray-400: #9CA3AF;
  --color-text-gray-500: #6B7280;
  --color-text-gray-600: #4B5563;
  --color-text-gray-700: #374151;
  --color-text-gray-800: #1F2937;
  --color-text-gray-900: #111827;

  --media-screen-sm: 640px;
  --media-screen-md: 768px;
  --media-screen-lg: 1024px;

  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

html {
  font-size: var(--font-size-md);
  font-feature-settings: "ss01, cv10, cv11";
}

@media (min-width: 768px) {
  html {
    font-size: var(--font-size-lg);
  }
}

body {
  font-family: var(--font-family-serif);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-gray-800);
}

#__next {
  display: grid;
  min-height: 100vh;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  grid-template-rows:
    auto
    1fr
    auto;
}

#__next > main {
  grid-column: 2;
  padding: 0 var(--p-2);
}

nav, footer {
  grid-column: 1 / -1;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: var(--p-1);
  padding: var(--p-1);
}

footer {
  display: flex;
  padding: var(--p-1);
}

nav > a:not(:hover) {
  text-decoration: none;
}

a {
  text-decoration-skip-ink: auto;
}

article * + * {
  margin-top: var(--p-1);
}

ul > li, ol > li {
  margin-top: 0.5rem;
}

.skip-link {
  padding: var(--p-1);
  border-radius: 8px;
  position: absolute;
  top: var(--p-2);
  left: var(--p-2);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: var(--p-1);
}

.social-links a {
  height: 24px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
