@import "./fonts.css";

:is(h1, h2, h3) {
  line-height: 1.3;
}

:is(h1, h2, h3, h4, h5) {
  font-weight: 700;
  color: var(--color-heading);
}

:is(h2, h3):not(:first-child) {
  margin-top: var(--p-2);
}

h1 {
  font-size: 1.802rem;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

p {
  letter-spacing: -0.017em;
}

blockquote {
  margin-left: var(--p-8);
}

blockquote p {
  font-style: italic;
  color: var(--color-text-gray-600);
  margin-bottom: 2rem;
  border-left: #e5e7eb solid 4px;
  padding-left: 1rem;
}

.landing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--p-2);
  width: 100%;
  height: 100%;
  place-content: center;
}

.landing h1 {
  font-size: 3rem;
}

.landing h2 {
  font-size: 2.2rem;
}

.landing :is(h1, h2) {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.landing p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.brand {
  display: grid;
}

.brand .logo {
  position: relative;
  display: inline-block;
  width: max-content;
  background-color: greenyellow;
}

.brand .logo h1 {
  display: inline-block;
  background-color: green;
}

.being,
.ly {
  position: absolute;
  font-size: 16px;
}

.being {
  left: -65px;
  top: 20px;
}

.ly {
  right: -30px;
  top: 28px;
}
