h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 1.802rem;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.857rem;
  }
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}


p:not(:last-of-type) {
  margin-bottom: 2rem;
}

p::before {
  content: "";
  margin-bottom: -0.4045em;
  display: table;
}

p::after {
  content: "";
  margin-top: -0.5275em;
  display: table;
}

blockquote {
  margin-left: var(--p-8);
}

blockquote p {
  font-style: italic;
  color: var(--color-text-gray-600);
  margin-bottom: 2rem;
  border-left: #E5E7EB solid 4px;
  padding-left: 1rem;
}
